@import 'tailwindcss';
@plugin "daisyui" {
	themes: light, dark;
}
@import '@fontsource/barlow-condensed/400.css';

@theme {
	--font-sans: 'Barlow Condensed', ui-sans-serif, system-ui, sans-serif;
}

html {
	font-size: 1.1em;
}
